body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

button {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-self: stretch;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  background-color: #61dafb;
  color: black;
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.invert-1 {
  filter: invert(1);
}
